<h1>Welcome to Quoting Dojo</h1>
<form action="/quotes/new" method="post">
<label for="name">Name: </label> <input type="text" name="name" value="brook"><br> 
<label for="content">Your Quote: </label> <textarea name="content" id="" cols="30" rows="10" ></textarea> <br>
<input type="submit" value="Add my quotes"> 
</form>
<a href="/quotes">Skip to Quotes</a>